<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @guest.email%>
</p>

<% if @guest.events.present? %>
<p><strong>Events:</strong></p>
<ul>
<% @guest.events.each do |event|  %>
<li><%=event.name%></li> 
<% end %>
</ul>
<% end %>

<%= link_to 'Back', root_path %>
