<h1></h1>

<%= render 'form', host: current_host, event: @event%>

<%# <%= link_to 'Show', host_event_path(current_host.id, event.id) %>
<%# <%= link_to 'Back', edit_host_event_path(current_host.id, event.id)%>

<%= link_to 'Back', root_path %>